<div>
    <h2>{{gameStatusMessage}}</h2>
</div>
<div>
    <div class="choice-box">
        <h3>The Computer</h3>
        <p>{{computerSelection}}</p>
    </div>
    <div class="choice-box">
        <h3>You</h3>
        <p>{{playerSelection}}</p>
    </div>
</div>
<div *ngIf="inGame; else letsPlay">
    <button *ngFor="let choice of choices" [class.disabled]="!inGame" id="choice-buttons" (click)="playGame(choice)">{{choice}}</button>
    <!-- <button [disabled]="!inGame">Paper</button>
    <button [disabled]="!inGame">Scissors</button> -->
</div>
<div>
    <button (click)="handleBanana()">Banana</button>
</div>
<ng-template #letsPlay>
    <div>
        <button class="big-button" (click)="inGame=true">New Game</button>
    </div>
</ng-template>